<div class="feature-block">
  {{#link-to 'content' feature.id}}
  <div class="feature-image">
    <img src={{feature.image}} alt={{feature.title}} />
  </div>
  <div class="feature-text">
    <p class="feature-title">{{feature.title}}</p>
    <p>
      By <span class="feature-author">{{feature.author}}</span>
    </p>
  </div>
  {{/link-to}}
</div>
