<div class="feature-block">
  <div class="feature-image">
    <img src={{content.image}} alt={{content.title}} />
  </div>
  <div class="feature-text">
    <p>{{content.title}}</p>
    <p>
      By {{content.author}}
    </p>
  </div>
</div>
