<div class="feature-block">
  <div class="feature-image">
    <img src={{feature.image}} alt={{feature.title}} />
  </div>
  <div class="feature-text">
    <h3>{{feature.title}}</h3>
    <p>
      By {{feature.author}}
    </p>
  </div>
</div>
